* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: #e5e5e5;
}

.container {
  width: 375px;
  background: #f4f4f4;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

header {
  background: #1b83e2;
  height: 66px;
}

header h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 18px;
  color: #f4f4f4;
  text-align: center;
  padding-top: 25px;
}

main {
  padding: 24px;
}

label {
  font-style: normal;
  font-weight: normal;
  line-height: 18px;
  font-size: 14px;
  color: #777;
}

select {
  background: #fff;
  border: 1px solid #bbb;
  border-radius: 4px;
  height: 48px;
  display: block;
  width: 100%;
  cursor: pointer;
  outline: none;
  appearance: none;
  padding-left: 16px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
  margin-top: 6px;
  margin-bottom: 24px;
}

input {
  background: #fff;
  border: 1px solid #bbb;
  border-radius: 4px;
  height: 48px;
  display: block;
  width: 100%;
  outline: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
  padding-left: 16px;
  font-size: 18px;
}

button {
  background: #1b83e2;
  border-radius: 25px;
  height: 48px;
  width: 100%;
  cursor: pointer;
  color: #f4f4f4;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  border: none;
  margin-top: 24px;
  margin-bottom: 36px;
}

button:hover {
  opacity: 0.9;
}

button:active {
  opacity: 0.7;
}

section {
  border: 1px solid #1b83e2;
  border-radius: 4px;
}

.currency-container {
  text-align: center;
  padding: 10px;
}

.currency-name {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #777;
}

.currency-value {
  color: #1b83e2;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 18px;
}

.arrow-image {
  margin: 15px auto;
  display: block;
}
